<h1>Greetings#hello</h1>
<p><%= @message %></p>
<a href="http://www.gucas.ac.cn">Enter UCAS</a>
<h1>The time is:</h1>
<p><%= @time %></p>
<a href="/summer/xia">exit</a>
<a href="/high_scores">enter database</a>
